
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Build MSA</h2>
<div class="container">
<form action="/Forms/MSA" method="POST">
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">MSA Date</label>
        <div class="col-10">
            <input class="form-control" name="msaDate" type="date" id="msaDate">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Full Name of Protiviti Party</label>
        <div class="col-10">
            <input type="text" class="form-control" name="protivitiParty" id="protivitiParty" value="Protiviti Inc.">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Full Name of Lead Client Party</label>
        <div class="col-10">
            <input type="text" class="form-control" name="clientParty" id="clientParty" placeholder="Disney">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Protiviti Managing Director Name</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="John Smith">
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Protiviti Office Address</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="101 N. Wacker Drive Suite 1400">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Protiviti Office City</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Chicago">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Protiviti Office State</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="IL">
        </div>
    </div>
    <div class="form-group row">
        <label for="exampleFormControlInput1">Client Buyer Name</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Anthony Rizzo">
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Client Office Address</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Disney">
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Client Office City</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Los Angeles">
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Client Office Address</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="CA">
        </div>
    </div>

    <div class="form-group row">
        <label for="exampleFormControlInput1">Client Office Fax Number</label>
        <div class="col-10">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="12345678">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
</form>
</div>

