
@{
    ViewData["Title"] = "MSA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submitted Successfully</h2>
<p>You have submitted your form successfully</p>
<a href="/Documents/SampleMSA.docx">Download</a>

<script>
</script>